In [1]:
import pandas as pd
import numpy as np

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
channeldf=pd.read_csv('/Users/Cimon/Desktop/untitled folder/Copy of channel_spend_graduate.csv')

In [3]:
channeldf

     channel    date  spend_AED
0       bing  201907        400
1    display  201907         12
2   facebook  201907       9000
3     search  201907      13000
4    youtube  201907         90
5       bing  201908        900
6    display  201908         20
7   facebook  201908      13000
8     search  201908      18500
9    youtube  201908        180
10      bing  201909       1000
11   display  201909         13
12  facebook  201909      10500
13    search  201909      19000
14   youtube  201909        100
15      bing  201910       1100
16   display  201910         19
17  facebook  201910      17000
18    search  201910      24000
19   youtube  201910        130
20      bing  201911       1300
21   display  201911         29
22  facebook  201911      23000
23    search  201911      25000
24   youtube  201911        550
25      bing  201912        300
26   display  201912         31
27  facebook  201912      16000
28    search  201912      38000
29   youtube  201912        900
30      bing  202001       2100
31   display  202001        148
32  facebook  202001      11000
33    search  202001      41000
34   youtube  202001       4360
35      bing  202002       3700
36   display  202002         94
37  facebook  202002      14000
38    search  202002      44000
39   youtube  202002       2420

In [33]:
subsdf=pd.read_csv('/Users/Cimon/Desktop/untitled folder/Copy of subscribers.csv')

In [34]:
subsdf

,Unnamed: 0,subid,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,age,male_TF,...,join_fee,language,payment_type,num_trial_days,current_sub_TF,payment_period,last_payment,next_payment,cancel_date,trial_completed
0,162502,21724479,economy,NaN,comedy,access to exclusive content,NaN,NaN,NaN,False,...,NaN,ar,Standard Charter,14,True,1,2020-02-07 21:44:16,2020-06-07 21:44:16,NaN,True
1,380374,23383224,base,NaN,comedy,access to exclusive content,22.951579,NaN,70.0,False,...,0.3303,ar,NaN,14,True,1,2020-03-15 15:44:35,2020-07-15 15:44:35,NaN,True
2,496617,26844789,enhanced,3.0,regional,replace OTT,36.001186,2.0,25.0,True,...,0.1101,ar,NaN,14,False,0,NaN,NaN,NaN,True
3,356799,29417030,base,NaN,drama,replace OTT,20.051667,NaN,30.0,False,...,0.0367,ar,NaN,14,False,0,NaN,NaN,NaN,True
4,681701,26723159,base,4.0,comedy,replace OTT,22.951579,3.0,28.0,False,...,0.0367,ar,NaN,14,True,2,2020-02-19 12:57:07,2020-06-19 12:57:07,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227623,509326,21434712,enhanced,3.0,comedy,supplement OTT,28.751405,2.0,38.0,False,...,0.3303,ar,NaN,14,True,1,2019-12-01 14:12:33,2020-04-01 14:12:33,NaN,True
227624,229587,25843074,enhanced,2.0,comedy,replace OTT,27.301448,2.0,49.0,False,...,0.3303,ar,Paypal,14,True,1,2019-12-20 18:02:13,2020-04-20 18:02:13,NaN,True
227625,281340,24799085,base,NaN,comedy,access to exclusive content,31.651317,NaN,45.0,False,...,0.0367,ar,NaN,14,True,1,2020-01-04 19:40:44,2020-05-04 19:40:44,NaN,True
227626,87198,21308040,base,NaN,comedy,access to exclusive content,NaN,NaN,NaN,False,...,NaN,ar,Paypal,14,True,1,2020-01-31 23:58:51,2020-05-31 23:58:51,NaN,True
227627,598241,20166335,base,NaN,comedy,replace OTT,25.851492,NaN,55.0,False,...,0.0367,ar,NaN,14,False,0,NaN,NaN,2019-12-09 00:00:00,False

In [35]:
subsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227628 entries, 0 to 227627
Data columns (total 31 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    227628 non-null  int64
 1   subid                         227628 non-null  int64
 2   package_type                  192054 non-null  object
 3   num_weekly_services_utilized  117178 non-null  float64
 4   preferred_genre               191302 non-null  object
 5   intended_use                  224079 non-null  object
 6   weekly_consumption_hour       189698 non-null  float64
 7   num_ideal_streaming_services  115458 non-null  float64
 8   age                           192459 non-null  float64
 9   male_TF                       227359 non-null  object
 10  country                       227628 non-null  object
 11  attribution_technical         227628 non-null  object
 12  attribution_survey            224984 non-null  object
 13  op_sys                        214253 non-null  object
 14  months_per_bill_period        227628 non-null  int64
 15  plan_type                     227628 non-null  object
 16  monthly_price                 227628 non-null  float64
 17  discount_price                227628 non-null  float64
 18  account_creation_date         227628 non-null  object
 19  trial_end_date                227628 non-null  object
 20  initial_credit_card_declined  227628 non-null  bool
 21  join_fee                      192724 non-null  float64
 22  language                      227628 non-null  object
 23  payment_type                  92050 non-null   object
 24  num_trial_days                227628 non-null  int64
 25  current_sub_TF                227628 non-null  bool
 26  payment_period                227628 non-null  int64
 27  last_payment                  132237 non-null  object
 28  next_payment                  130250 non-null  object
 29  cancel_date                   36831 non-null   object
 30  trial_completed               227628 non-null  bool
dtypes: bool(3), float64(7), int64(5), object(16)
memory usage: 49.3+ MB

In [36]:
subsdf['plan_type'].value_counts()

base_uae_14_day_trial                227096
high_uae_14_day_trial                   325
low_uae_no_trial                        167
base_eur_14_day_trial                    18
high_sar_14_day_trial                    12
low_gbp_14_day_trial                      4
high_aud_14_day_trial                     2
low_eur_no_trial                          1
base_uae_no_trial_7_day_guarantee         1
low_sar_no_trial                          1
high_jpy_14_day_trial                     1
Name: plan_type, dtype: int64

In [37]:
high_subs=subsdf[subsdf['plan_type'].str.contains('high')]

In [38]:
high_subs

,Unnamed: 0,subid,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,age,male_TF,...,join_fee,language,payment_type,num_trial_days,current_sub_TF,payment_period,last_payment,next_payment,cancel_date,trial_completed
259,43460,24333505,enhanced,3.0,comedy,supplement OTT,30.201361,2.0,59.0,False,...,0.0367,ar,Standard Charter,14,True,2,2020-03-19 00:05:37,2020-07-19 00:05:37,NaN,True
1846,485756,27034473,base,NaN,other,access to exclusive content,24.401536,NaN,38.0,False,...,0.0367,ar,NaN,14,True,2,2020-03-19 05:55:45,2020-07-19 05:55:45,NaN,True
2258,595152,25845644,base,2.0,comedy,replace OTT,25.851492,2.0,28.0,False,...,0.0367,ar,NaN,14,False,0,NaN,NaN,NaN,True
2309,450228,22387589,base,3.0,comedy,access to exclusive content,18.601711,2.0,39.0,False,...,0.0367,ar,NaN,14,True,2,2020-03-18 18:28:59,2020-07-18 18:28:59,NaN,True
2379,488454,24132460,base,2.0,comedy,replace OTT,28.751405,2.0,25.0,False,...,0.0367,ar,NaN,14,False,0,NaN,NaN,2019-11-13 00:00:00,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222721,568082,27965781,enhanced,NaN,comedy,access to exclusive content,30.201361,NaN,32.0,False,...,0.0367,ar,NaN,14,True,2,2020-03-18 23:08:32,2020-07-18 23:08:32,NaN,True
224678,239447,23238995,base,3.0,comedy,other,30.201361,2.0,42.0,False,...,0.0367,ar,Paypal,14,True,2,2020-03-19 23:27:57,2020-07-19 23:27:57,NaN,True
224724,416515,28319690,enhanced,NaN,comedy,access to exclusive content,27.301448,NaN,58.0,False,...,0.0367,ar,NaN,14,True,2,2020-03-18 19:29:15,2020-07-18 19:29:15,NaN,True
225710,551418,20764619,enhanced,NaN,drama,other,27.301448,NaN,49.0,False,...,0.0367,ar,NaN,14,False,0,NaN,NaN,NaN,True
225782,188426,27323185,base,NaN,comedy,replace OTT,27.301448,NaN,73.0,False,...,0.0367,ar,RAKBANK,14,True,2,2020-03-18 14:47:00,2020-07-18 14:47:00,NaN,True

In [39]:
low_subs=subsdf[subsdf['plan_type'].str.contains('low')]
low_subs

,Unnamed: 0,subid,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,age,male_TF,...,join_fee,language,payment_type,num_trial_days,current_sub_TF,payment_period,last_payment,next_payment,cancel_date,trial_completed
322,511887,22031615,NaN,4.0,NaN,NaN,NaN,NaN,25.0,False,...,0.0,ar,NaN,0,True,3,2020-03-24 23:20:11,2020-07-24 23:20:11,NaN,True
553,31201,28496166,NaN,2.0,NaN,NaN,NaN,NaN,40.0,False,...,0.0,ar,Paypal,0,False,1,2019-07-27 19:57:50,NaN,2019-10-09 00:00:00,True
5912,522051,21941388,NaN,NaN,NaN,NaN,NaN,NaN,26.0,False,...,0.0,ar,NaN,0,True,2,2019-11-28 05:46:22,2020-03-28 05:46:22,NaN,True
5958,12672,21827870,NaN,2.0,NaN,NaN,NaN,NaN,49.0,False,...,0.0,ar,Standard Charter,0,False,0,NaN,NaN,NaN,True
7164,124600,21327523,NaN,4.0,NaN,NaN,NaN,NaN,41.0,True,...,0.0,ar,Paypal,0,True,3,2020-03-26 13:28:43,2020-07-26 13:28:43,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218932,3810,23854068,NaN,NaN,NaN,NaN,NaN,NaN,26.0,False,...,0.0,ar,Paypal,0,True,3,2020-03-24 05:31:23,2020-07-24 05:31:23,NaN,True
219037,2777,27066598,NaN,3.0,NaN,NaN,NaN,NaN,58.0,False,...,0.0,ar,Najim,0,False,0,NaN,NaN,NaN,True
219516,28296,24533399,NaN,4.0,NaN,NaN,NaN,NaN,65.0,False,...,0.0,ar,RAKBANK,0,False,0,NaN,NaN,NaN,True
225582,21069,29824743,NaN,2.0,NaN,NaN,NaN,NaN,60.0,False,...,0.0,ar,Najim,0,False,0,NaN,NaN,2019-08-03 00:00:00,True
227194,638599,26324469,NaN,3.0,NaN,NaN,NaN,NaN,32.0,False,...,0.0,ar,NaN,0,False,0,NaN,NaN,NaN,True

In [41]:
sum(low_subs['current_sub_TF'])

47

In [47]:
from scipy.stats import norm

In [48]:
def calc_proportion(array_TF):
    return sum(array_TF)/len(array_TF)


def calc_zscore(phat, p, n_f):
    return (phat-p)/np.sqrt(p*(1-p)/n_f)


def get_z_crit_value(alpha_f, num_sides_f):
    return norm.ppf(1-(alpha_f/num_sides_f))


def get_p_value(zscore_f, num_sides_f):
    return (1-norm.cdf(abs(zscore_f))) * num_sides_f


def reject_null(variantA_outcomes_f, variantB_outcomes_f, alpha_f, num_sides_f):
    p_hat_f = calc_proportion(variantB_outcomes_f)
    p_f = calc_proportion(variantA_outcomes_f)
    n_f = len(variantB_outcomes_f)
    z_score = calc_zscore(p_hat_f, p_f, n_f)
    p_value = get_p_value(z_score, num_sides_f)
    z_crit = get_z_crit_value(alpha_f, num_sides_f)
    return z_score > z_crit, z_score, p_value

In [50]:
high_outcomes = high_subs['current_sub_TF'] 
low_outcomes = low_subs['current_sub_TF']

# --- conduct tests
reject_null_test, z_score, p_value = reject_null(high_outcomes, low_outcomes, 0.05, 1)
print('Conversion rate for Variant A: %3.1f%%' % (calc_proportion(high_outcomes)*100))
print('Conversion rate for Variant B: %3.1f%%' % (calc_proportion(low_outcomes)*100))
print('Using all Variant B, reject null T/F?: %s' % reject_null_test)
print('z-score = %3.2f and p-value = %3.1f%%' % (z_score, p_value*100))

Conversion rate for Variant A: 53.8%
Conversion rate for Variant B: 27.2%
Using all Variant B, reject null T/F?: False
z-score = -7.03 and p-value = 0.0%

In [11]:
engagementdf=pd.read_pickle('/Users/Cimon/Desktop/untitled folder/engagement')

In [12]:
engagementdf

,subid,date,app_opens,cust_service_mssgs,num_videos_completed,num_videos_more_than_30_seconds,num_videos_rated,num_series_started,payment_period
1,22349235,2019-07-01,1.0,1.0,0.0,6.0,0.0,0.0,0.0
2,22349235,2019-07-02,1.0,0.0,0.0,5.0,0.0,0.0,0.0
3,22349235,2019-07-03,0.0,1.0,0.0,0.0,0.0,0.0,0.0
50,20848497,2019-07-02,1.0,0.0,7.0,7.0,0.0,0.0,0.0
51,22680106,2019-07-02,2.0,1.0,7.0,7.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
28832315,28409777,2020-04-21,2.0,0.0,4.0,4.0,0.0,1.0,1.0
28832317,28409777,2020-04-22,2.0,0.0,4.0,4.0,0.0,1.0,1.0
28832319,28409777,2020-04-23,0.0,0.0,4.0,4.0,0.0,1.0,1.0
28832321,28409777,2020-04-24,1.0,0.0,3.0,4.0,1.0,1.0,1.0
28832323,28409777,2020-04-25,1.0,0.0,0.0,4.0,0.0,1.0,1.0

In [13]:
cs_reps=pd.read_pickle('/Users/Cimon/Desktop/untitled folder/customer_service_reps')

In [14]:
cs_reps

,customer_service_rep_id,subid,current_sub_TF,cancel_date,account_creation_date,num_trial_days,trial_completed_TF,billing_channel,revenue_net_1month,payment_period,last_payment,next_payment,renew
4,36189811,25108574,False,NaT,2019-11-26 03:30:29,7,True,itunes,1.1377,0,2019-11-26 03:30:29,2019-11-26 03:30:29,NaN
5,36189811,25108574,False,NaT,2019-11-26 03:30:29,7,True,itunes,1.1377,1,2019-11-26 03:30:29,2019-12-27 03:30:29,NaN
6,36189811,25108574,False,NaT,2019-11-26 03:30:29,7,True,itunes,1.1377,2,2019-12-27 03:30:29,2020-01-26 03:30:29,NaN
7,36189811,25108574,False,NaT,2019-11-26 03:30:29,7,True,itunes,1.1377,3,2020-01-26 03:30:29,NaT,NaN
8,31174901,25914865,True,NaT,2020-03-19 01:20:25,14,True,itunes,1.1377,0,2020-03-19 01:20:25,2020-04-02 01:20:25,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248409,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,3,2019-08-27 20:23:27,2019-09-24 20:23:29,NaN
2248410,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,4,2019-09-24 20:23:29,2019-10-25 20:23:28,NaN
2248411,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,5,2019-10-25 20:23:28,2019-11-24 20:23:29,NaN
2248412,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,6,2019-11-24 20:23:29,2019-12-25 20:23:27,NaN
2248413,30859916,26845271,False,NaT,2019-06-30 06:24:24,0,True,google,0.6239,7,2019-12-25 20:23:27,NaT,NaN

In [15]:
cs_reps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2208643 entries, 4 to 2248413
Data columns (total 13 columns):
 #   Column                   Dtype
---  ------                   -----
 0   customer_service_rep_id  int64
 1   subid                    int64
 2   current_sub_TF           bool
 3   cancel_date              datetime64[ns]
 4   account_creation_date    datetime64[ns]
 5   num_trial_days           int64
 6   trial_completed_TF       bool
 7   billing_channel          object
 8   revenue_net_1month       float64
 9   payment_period           int64
 10  last_payment             datetime64[ns]
 11  next_payment             datetime64[ns]
 12  renew                    object
dtypes: bool(2), datetime64[ns](4), float64(1), int64(4), object(2)
memory usage: 206.4+ MB

In [24]:
sevendays=cs_reps[cs_reps['num_trial_days']==7]['num_trial_days'].value_counts()

In [25]:
sevendays

7    160596
Name: num_trial_days, dtype: int64

In [26]:
fourteendays=cs_reps[cs_reps['num_trial_days']==14]['num_trial_days'].value_counts()
fourteendays

14    1968089
Name: num_trial_days, dtype: int64

In [69]:
df_seg=subsdf[["age","preferred_genre","intended_use","weekly_consumption_hour","package_type"]]

In [70]:
df_seg=df_seg.dropna()

In [71]:
df_seg=df_seg[df_seg['age']<120]
df_seg

,age,preferred_genre,intended_use,weekly_consumption_hour,package_type
1,70.0,comedy,access to exclusive content,22.951579,base
2,25.0,regional,replace OTT,36.001186,enhanced
3,30.0,drama,replace OTT,20.051667,base
4,28.0,comedy,replace OTT,22.951579,base
5,70.0,comedy,access to exclusive content,20.051667,base
...,...,...,...,...,...
227622,43.0,drama,access to exclusive content,24.401536,base
227623,38.0,comedy,supplement OTT,28.751405,enhanced
227624,49.0,comedy,replace OTT,27.301448,enhanced
227625,45.0,comedy,access to exclusive content,31.651317,base
227627,55.0,comedy,replace OTT,25.851492,base

In [56]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [72]:
sc_dfa = StandardScaler()

In [73]:
df_seg[[ 'age','weekly_consumption_hour']] = sc_dfa.fit_transform(df_seg[['age','weekly_consumption_hour']])

In [74]:
df_seg

,age,preferred_genre,intended_use,weekly_consumption_hour,package_type
1,1.700454,comedy,access to exclusive content,-1.018984,base
2,-1.492716,regional,replace OTT,1.585562,enhanced
3,-1.137919,drama,replace OTT,-1.597772,base
4,-1.279838,comedy,replace OTT,-1.018984,base
5,1.700454,comedy,access to exclusive content,-1.597772,base
...,...,...,...,...,...
227622,-0.215448,drama,access to exclusive content,-0.729590,base
227623,-0.570245,comedy,supplement OTT,0.138592,enhanced
227624,0.210308,comedy,replace OTT,-0.150802,enhanced
227625,-0.073529,comedy,access to exclusive content,0.717380,base
227627,0.636064,comedy,replace OTT,-0.440196,base

In [75]:
categorical_features_idx = [1,2,4]

In [62]:
from kmodes.kprototypes import KPrototypes

In [76]:
df_array=X=df_seg.values
kproto = KPrototypes(n_clusters=3, verbose=2, max_iter=5)
kproto.fit(df_array, categorical=categorical_features_idx)

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/5, moves: 37773, ncost: 249278.10224887892
Run: 1, iteration: 2/5, moves: 18674, ncost: 239677.0366282594
Run: 1, iteration: 3/5, moves: 11076, ncost: 236463.19335581618
Run: 1, iteration: 4/5, moves: 5958, ncost: 235443.69226880046
Run: 1, iteration: 5/5, moves: 2701, ncost: 235190.87959616922
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/5, moves: 60095, ncost: 245263.3513540168
Run: 2, iteration: 2/5, moves: 24312, ncost: 236970.71633961936
Run: 2, iteration: 3/5, moves: 8736, ncost: 235512.82614584846
Run: 2, iteration: 4/5, moves: 3441, ncost: 235230.07759299906
Run: 2, iteration: 5/5, moves: 1530, ncost: 235176.66618271443
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/5, moves: 36744, ncost: 243969.02817784733
Run: 3, iteration: 2/5, moves: 19844, ncost: 237052.83777167092
Run: 3, iteration: 3/5, moves: 8767, ncost: 235623.0955319498
Run: 3, iteration: 4/5, moves: 3792, ncost: 235272.59589120033
Run: 3, iteration: 5/5, moves: 1841, ncost: 235176.27524065415
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/5, moves: 37836, ncost: 254878.3341127863
Run: 4, iteration: 2/5, moves: 30397, ncost: 235782.0338249613
Run: 4, iteration: 3/5, moves: 9323, ncost: 234142.94607264327
Run: 4, iteration: 4/5, moves: 3915, ncost: 233809.55363564639
Run: 4, iteration: 5/5, moves: 1489, ncost: 233750.35164398263
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/5, moves: 27812, ncost: 271462.72993792157
Run: 5, iteration: 2/5, moves: 31479, ncost: 241663.89230056645
Run: 5, iteration: 3/5, moves: 12976, ncost: 238335.3698646394
Run: 5, iteration: 4/5, moves: 6167, ncost: 237392.73870113227
Run: 5, iteration: 5/5, moves: 3668, ncost: 237033.21667218933
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/5, moves: 25918, ncost: 239059.5030161963
Run: 6, iteration: 2/5, moves: 11433, ncost: 236227.71476822582
Run: 6, iteration: 3/5, moves: 5218, ncost: 235426.11488052754
Run: 6, iteration: 4/5, moves: 2777, ncost: 235188.31601566254
Run: 6, iteration: 5/5, moves: 1282, ncost: 235133.6176266297
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/5, moves: 52260, ncost: 241627.56576166034
Run: 7, iteration: 2/5, moves: 17325, ncost: 235940.37638352468
Run: 7, iteration: 3/5, moves: 6430, ncost: 235335.23197981127
Run: 7, iteration: 4/5, moves: 2216, ncost: 235221.27471574635
Run: 7, iteration: 5/5, moves: 1391, ncost: 235182.96060044022
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/5, moves: 49045, ncost: 239999.9644429118
Run: 8, iteration: 2/5, moves: 21618, ncost: 234687.3612613668
Run: 8, iteration: 3/5, moves: 7146, ncost: 233862.7694937874
Run: 8, iteration: 4/5, moves: 2670, ncost: 233741.96746079993
Run: 8, iteration: 5/5, moves: 1517, ncost: 233703.5607265464
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/5, moves: 39611, ncost: 238568.7001365093
Run: 9, iteration: 2/5, moves: 13781, ncost: 236246.39180140768
Run: 9, iteration: 3/5, moves: 4327, ncost: 235776.93304850886
Run: 9, iteration: 4/5, moves: 2049, ncost: 235649.14276762804
Run: 9, iteration: 5/5, moves: 1209, ncost: 235610.78578158663
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/5, moves: 44857, ncost: 260084.25674463392
Run: 10, iteration: 2/5, moves: 29224, ncost: 248137.08596900446
Run: 10, iteration: 3/5, moves: 13259, ncost: 243005.59928935548
Run: 10, iteration: 4/5, moves: 13614, ncost: 238134.886978667
Run: 10, iteration: 5/5, moves: 8835, ncost: 236106.64815131825
Best run was number 8

KPrototypes(gamma=0.49999999999999994, max_iter=5, n_clusters=3, verbose=2)

In [77]:
clusters = kproto.predict(df_seg, categorical=categorical_features_idx)

In [78]:
df_seg['cluster'] = list(clusters)
df_seg[[ 'age','weekly_consumption_hour']] = sc_dfa.inverse_transform(df_seg[['age','weekly_consumption_hour']])
df_seg

,age,preferred_genre,intended_use,weekly_consumption_hour,package_type,cluster
1,70.0,comedy,access to exclusive content,22.951579,base,2
2,25.0,regional,replace OTT,36.001186,enhanced,0
3,30.0,drama,replace OTT,20.051667,base,1
4,28.0,comedy,replace OTT,22.951579,base,1
5,70.0,comedy,access to exclusive content,20.051667,base,2
...,...,...,...,...,...,...
227622,43.0,drama,access to exclusive content,24.401536,base,1
227623,38.0,comedy,supplement OTT,28.751405,enhanced,1
227624,49.0,comedy,replace OTT,27.301448,enhanced,2
227625,45.0,comedy,access to exclusive content,31.651317,base,0
227627,55.0,comedy,replace OTT,25.851492,base,2

In [79]:
df_seg['cluster'].value_counts()

2    58809
1    58712
0    36738
Name: cluster, dtype: int64

In [88]:
C1=df_seg[df_seg['cluster']==0]
C2=df_seg[df_seg['cluster']==1]
C3=df_seg[df_seg['cluster']==2]

In [100]:
C1['age'].mean()

45.3040002086681

In [101]:
C2['age'].mean()

33.72884751422432

In [102]:
C3['age'].mean()

58.7806986662647

In [94]:
C3['preferred_genre'].value_counts()

comedy           35497
drama            17282
international     2720
regional          1855
other             1455
Name: preferred_genre, dtype: int64

In [95]:
C1['preferred_genre'].value_counts()

comedy           21173
drama            10360
regional          2578
international     1662
other              965
Name: preferred_genre, dtype: int64

In [96]:
C2['preferred_genre'].value_counts()

comedy           40129
drama            11675
regional          3935
international     1629
other             1344
Name: preferred_genre, dtype: int64

In [103]:
C1['weekly_consumption_hour'].mean()

34.69164221824724

In [104]:
C2['weekly_consumption_hour'].mean()

26.0818044254598

In [105]:
C3['weekly_consumption_hour'].mean()

25.88431625710036

In [106]:
C1['intended_use'].value_counts()

access to exclusive content    17930
replace OTT                    12294
supplement OTT                  5518
other                            950
expand regional access            21
expand international access       16
education                          9
Name: intended_use, dtype: int64

In [107]:
C2['intended_use'].value_counts()

replace OTT                    26743
access to exclusive content    21227
supplement OTT                  9387
other                           1300
expand international access       25
expand regional access            21
education                          9
Name: intended_use, dtype: int64

In [108]:
C3['intended_use'].value_counts()

access to exclusive content    30189
replace OTT                    17113
supplement OTT                  8241
other                           3015
expand regional access           112
expand international access      103
education                         36
Name: intended_use, dtype: int64

In [109]:
C1['package_type'].value_counts()

base        19563
enhanced    13290
economy      3885
Name: package_type, dtype: int64

In [110]:
C2['package_type'].value_counts()

base        30576
enhanced    24146
economy      3990
Name: package_type, dtype: int64

In [111]:
C3['package_type'].value_counts()

base        35457
enhanced    15495
economy      7857
Name: package_type, dtype: int64